
#pealkiri
h1 {
    color:bisque;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: center;
}
p {
    background-color: #f7dff7;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
    text-align: justify;
}
img {
    border: 3px black;

}
th {
    background-color: antiquewhite;
    font-weight: bold;
}


