

h1 {
    color:rgb(243, 137, 8) !important;
    font-family:Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 25px !important;
    text-align: center !important;
}
p {
    background-color: #f7dff7;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
    text-align: justify;
}
img {
    border: 3px solid black;

}
th {
    background-color: antiquewhite;
    font-weight: bold;
}
body {
    background-color: #f7dff7;

}
.container {
    display: flex;
}
.column {
    flex: 1;
    padding: 10px;
    border: 1px solid black;
}

